/* Basic Style */
main {
    width: 80%;
    margin: auto;
}

body {
padding-left: 5%;
padding-right: 8%;
}
span {
    color: rgb(255, 217, 0);
}

body {
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(204, 245, 158);
       
}

p {
    color: rgb(75, 75, 75);
    text-align: justify;
}
h3 {
    color: rgb(75, 75, 75);;
}
.header {
    width: 100%;
    height: auto;

}

.navi {
    background-color: rgb(80, 175, 80);
    width: 100%;
    height: auto;
    text-align: right;
}

.navi > ul {
    list-style: none;
     
}

.navi > li {
    display: inline-block;
    word-spacing: 20px;
    font-size: 30px;
    padding: 20px;
    
}

li > a {
    text-decoration: none;
    color: rgb(248, 248, 221);

}
.content {
    width: 100%;
    height: auto;
    font-size: 1.7em;
    padding: 20px;
}

.content > h3 {
    font-size: 37px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(69, 83, 69);
    margin:1% 0%;
    
}

.content > h2 {
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
  
    
}

.content > img {
    width: 100%;
    height: auto;
    margin-top: 0%;
    margin-bottom: 10px;
    
}

.entity {
    list-style: none;
    font-size: 1.2em;
    color: whitesmoke;
    float: left;
    
}


.lot > table {
    width: 100%;
    height: auto;
    border-collapse: collapse;
    table-layout: fixed;
    font-size: 14px;
  
}

.footer {
    background-color: rgb(80, 175, 80);
    width: 100%;
    height: auto;
    padding: 20px;
    color: ivory;
    font-size: 20px;
    text-align: center;

    


}

#tab{
    border: black;
    background-color:  rgb(96, 216, 96);
    margin-bottom: 0px;
    padding: 2px;;
}
#tab th, td, tr{
    padding: 10px;
    width:700px;
    height: 8px;
    margin-left:10%;
    margin-right:10%;
    position: center;
}

#form{

    background-color: rgb(80, 175, 80);
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 15px;
    padding-right: 30px;
    border-radius: 5px;
   
}
#name, #email, #website, #subject {
    border-radius: 7px;
    width: 100%;
    height: 45px;
}
#form label{
    font-weight: 200;
    color: black
    font-size: large;
    
}
#form input{
    font-weight: 600;
    color: black
    font-size: large;
    
}
#message {
    border-radius: 7px;
    width: 100%;
    height: 70px;
}
#sub{
    width: 100%;
    height: 50px;
    border-radius: 7px;
    background-color:rgb(91, 231, 91);
    color: white;
}



